
.content
  p.apptitle= t("v.aboutus")
  pre#container
    = t("v.abouthtml")[0]
    = t("v.abouthtml")[1]
    = t("v.abouthtml")[2]
    = t("v.abouthtml")[3]

  javascript:
    $(function(){
      var container = $("#container");
      container.shuffleLetters();
    })
